body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #9db8d4, #d38888); /* Gradient from #9db8d4 to #d38888 */
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #9db8d4;  */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    width: 180px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: #d38888; /* Red */
    text-align: center;
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #316364; 
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #009fbf;
}
